name: CI

on:
  push:
    branches:
      - main
    tags:
      - v*

jobs:
  build-rpm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Permissions
        run: chmod 777 -R .
      - name: Version
        run: sed -i 's/##version##/${{ github.ref }}/g' rpmbuild/SPECS/acronis-mysql-scripts.spec
      - name: Build
        run: docker run -v ${{ github.workspace }}:/srv -e RELEASE= sensson/rpmbuild:rockylinux-8
      - name: Dependencies
        if: startsWith(github.ref, 'refs/tags/')
        run: pip install --user cloudsmith-cli
      - name: Deploy
        if: startsWith(github.ref, 'refs/tags/')
        run: bash deploy-rpm.sh
        env:
          APIKEY: ${{ secrets.APIKEY }}

  build-deb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Script
        run: |
          mkdir -p .debpkg/var/lib/Acronis/mysql/
          cp mysqlbackup.sh .debpkg/var/lib/Acronis/mysql/
          cp mysqlfreeze.sh .debpkg/var/lib/Acronis/mysql/
          cp mysqlthaw.sh .debpkg/var/lib/Acronis/mysql/
          cp mysql.conf .debpkg/var/lib/Acronis/mysql/
          cp functions.sh .debpkg/var/lib/Acronis/mysql/
      - uses: jiro4989/build-deb-action@v3
        with:
          package: acronis-mysql-scripts
          package_root: .debpkg
          maintainer: Sensson
          version: ${{ github.ref }} # refs/tags/v*.*.*
          arch: 'amd64'
          desc: 'Backups scripts to be used by Acronis to make backups of MySQL.'
      - name: Dependencies
        if: startsWith(github.ref, 'refs/tags/')
        run: pip install --user cloudsmith-cli
      - name: Deploy
        if: startsWith(github.ref, 'refs/tags/')
        run: bash deploy-deb.sh
        env:
          APIKEY: ${{ secrets.APIKEY }}
      
    
    
